.scons-cache/
.godot/
.vscode/
.vs/
__pycache__/
obj/

*.pyc
*.so
*.o
*.a
*.dll
*.obj
*.lib
.sconsign.dblite

addons/twovoip/libs/*
addons/twovoip_lipsync/libs/*
addons/twovoip_lipsync/OVRLipSyncNative/*
example/addons/twovoip*
example/android/*
cmake_build_out/*
