[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.1
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "noise-suppression-for-voice"]
	path = noise-suppression-for-voice
	url = https://github.com/werman/noise-suppression-for-voice.git
