[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "rnnoise"]
	path = rnnoise
	url = https://github.com/xiph/rnnoise.git
[submodule "speexdsp"]
	path = speexdsp
	url = https://github.com/xiph/speexdsp.git
